/*  Configurações gerais
   Remove margens e paddings padrões*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Faz a rolagem entre as seções ficar suave */

html{
    scroll-behavior:smooth;
}

/* Cor de fundo da página e fonte principal */

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(180deg,#151515,#20262f,#2b3440);
    color:#ececec;
    line-height:1.7;
}


/* Cabeçalho */

header{
    background:#101820;
    text-align:center;
    padding:35px;
    border-bottom:3px solid #4fa3ff;
    box-shadow:0 5px 20px rgba(0,0,0,.45);
}

/* Foto de perfil */

header img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #4fa3ff;
    margin-bottom:20px;
}

header h1{
    margin-bottom:10px;
    font-size:2rem;
}

header p{
    color:#cfcfcf;
    margin-bottom:25px;
}


/* Menu de navegação */

nav ul{
    list-style:none;
}

nav li{
    display:inline-block;
    margin:0 15px;
}

/* Links do menu */

nav a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

/* Cor ao passar o mouse */

nav a:hover{
    color:#5fb3ff;
}


/* Conteúdo principal */

main{
    width:90%;
    max-width:1000px;
    margin:40px auto;
}


/* Caixas das seções */

section,
aside{
    background:#2c3440;
    padding:25px;
    margin-bottom:25px;
    border-radius:12px;
    border:1px solid #455264;
    box-shadow:0 10px 25px rgba(0,0,0,.30);

    /* Pequena animação ao passar o mouse */
    transition:0.3s;
}

section:hover,
aside:hover{
    transform:translateY(-5px);
}


/* Títulos */

h2{
    color:#69b6ff;
    margin-bottom:15px;
}

h3{
    color:#8dc7ff;
    margin-bottom:10px;
}


/* Lista de habilidades */

ul{
    padding-left:20px;
}

li{
    margin-bottom:8px;
}


/* Cartões dos projetos */

article{
    background:#3b4554;
    margin-top:20px;
    padding:20px;
    border-radius:10px;
    transition:0.3s;
}

/* Destaque ao passar o mouse */

article:hover{
    background:#4a5668;
    transform:translateY(-3px);
}


/* Informações extras
   (GitHub, LinkedIn e Instagram) */

/* Como não são links, utilizei uma classe
   apenas para dar um efeito visual */

.social{
    color:#b6d9ff;
    display:inline-block;
    transition:0.3s;
    font-weight:bold;
    cursor:default;
}

/* Aumenta um pouco e muda de cor */

.social:hover{
    color:#56b0ff;
    transform:scale(1.05);
}


/* Rodapé */

footer{
    background:#101820;
    text-align:center;
    padding:25px;
    border-top:3px solid #4fa3ff;
    margin-top:40px;
}


/* Responsividade
   Ajustes para telas menores */

@media(max-width:768px){

    header img{
        width:140px;
        height:140px;
    }

    /* Menu fica um item embaixo do outro */

    nav li{
        display:block;
        margin:15px 0;
    }

    main{
        width:95%;
    }

}